<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gear Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="calcstyles.css">
</head>
<body>
<!--Navigation Bar-->
<div th:include="parts/navbar"></div>

<div class="card-deck">
<div class="card w-50" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Вычислить диаметр шестерни</h5>
        <form action="#" th:action="@{/calc}" th:object="${calcUtil}" method="post">
            <div class="form-group">
                <td>
                    ID: <select class="custom-select" th:field="*{id1}">
                    <option value=""> -- </option>
                    <option th:each="gear : ${gears}"
                            th:value="${gear.getId()}"
                            th:utext="${gear.toString()}"/>
                </select>
                </td>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Вычислить" name="getDiameter"/>
            </div>
            <div class="form-group">
                <p><strong>Результат: </strong><span th:text="${diameter}" th:unless="${calcUtil.id1 == null}"/></p>
            </div>
        </form>
    </div>
</div>

<div class="card w-50" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Вычислить делительный диаметр шестерни</h5>
        <form action="#" th:action="@{/calc}" th:object="${calcUtil}" method="post">
            <div class="form-group">
                <td>
                    ID: <select class="custom-select" th:field="*{id1}">
                    <option value=""> -- </option>
                    <option th:each="gear : ${gears}"
                            th:value="${gear.getId()}"
                            th:utext="${gear.toString()}"/>
                </select>
                </td>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Вычислить" name="getGearDividingDiameter"/>
            </div>
            <div class="form-group">
                <p><strong>Результат: </strong><span th:text="${dividing}" th:unless="${calcUtil.id1 == null}"/></p>
            </div>
        </form>
    </div>
</div>
</div>

<div class="card-deck">
<div class="card w-50" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Вычислить передаточное отншение</h5>
        <form action="#" th:action="@{/calc}" th:object="${calcUtil}" method="post">
            <div class="form-group">
                <td>
                    ID1: <select class="custom-select" th:field="*{id1}">
                    <option value=""> -- </option>
                    <option th:each="gear : ${gears}"
                            th:value="${gear.getId()}"
                            th:utext="${gear.toString()}"/>
                    </select>
                </td>
            </div>
            <div class="form-group">
                <td>ID2: <select class="custom-select" th:field="*{id2}">
                    <option value=""> -- </option>
                    <option th:each="gear : ${gears}"
                            th:value="${gear.getId()}"
                            th:utext="${gear.toString()}"/>
                </select></td>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Вычислить" name="getGearRatio"/>
            </div>
            <div class="form-group">
                <p><strong>Результат: </strong><span th:text="${result}" th:unless="${calcUtil.id1 == null}"></span></p>
            </div>
        </form>
    </div>
</div>

<div class="card w-50" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Вычислить диаметры вершин зубьев шестерни</h5>
        <form action="#" th:action="@{/calc}" th:object="${calcUtil}" method="post">
            <div class="form-group">
                <td>
                    ID1: <select class="custom-select" th:field="*{id1}">
                    <option value=""> -- </option>
                    <option th:each="gear : ${gears}"
                            th:value="${gear.getId()}"
                            th:utext="${gear.toString()}"/>
                </select>
                </td>
            </div>
            <div class="form-group">
                <td>ID2: <select class="custom-select" th:field="*{id2}">
                    <option value=""> -- </option>
                    <option th:each="gear : ${gears}"
                            th:value="${gear.getId()}"
                            th:utext="${gear.toString()}"/>
                </select></td>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Вычислить" name="getGearToothTopDiameter"/>
            </div>
            <div class="form-group">
                <p><strong>Результат: </strong><span th:text="${topdiameter}" th:unless="${calcUtil.id1 == null}"></span></p>
            </div>
        </form>
    </div>
</div>
</div>

<div class="card-deck">
<div class="card w-50" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Вычислить расстояние между центрами шестерен</h5>
        <form action="#" th:action="@{/calc}" th:object="${calcUtil}" method="post">
            <div class="form-group">
                <td>
                    ID1: <select class="custom-select" th:field="*{id1}">
                    <option value=""> -- </option>
                    <option th:each="gear : ${gears}"
                            th:value="${gear.getId()}"
                            th:utext="${gear.toString()}"/>
                </select>
                </td>
            </div>
            <div class="form-group">
                <td>ID2: <select class="custom-select" th:field="*{id2}">
                    <option value=""> -- </option>
                    <option th:each="gear : ${gears}"
                            th:value="${gear.getId()}"
                            th:utext="${gear.toString()}"/>
                </select></td>
            </div>
            <div class="form-group">
                Teeth Angle: <input class="form-control" type="text" th:field="*{teethAngle}" />
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Вычислить" name="getGearCenterDistance"/>
            </div>
            <div class="form-group">
                <p><strong>Результат: </strong><span th:text="${distance}" th:unless="${calcUtil.id1 == null}"></span></p>
            </div>
        </form>
    </div>
</div>

<div class="card w-50" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Вычислить диаметры впадин зубьев шестерни</h5>
        <form action="#" th:action="@{/calc}" th:object="${calcUtil}" method="post">
            <div class="form-group">
                <td>
                    ID1: <select class="custom-select" th:field="*{id1}">
                    <option value=""> -- </option>
                    <option th:each="gear : ${gears}"
                            th:value="${gear.getId()}"
                            th:utext="${gear.toString()}"/>
                </select>
                </td>
            </div>
            <div class="form-group">
                <td>ID2: <select class="custom-select" th:field="*{id2}">
                    <option value=""> -- </option>
                    <option th:each="gear : ${gears}"
                            th:value="${gear.getId()}"
                            th:utext="${gear.toString()}"/>
                </select></td>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Вычислить" name="getGearToothBottomDiameter"/>
            </div>
            <div class="form-group">
                <p><strong>Результат: </strong><span th:text="${bottomdiameter}" th:unless="${calcUtil.id1 == null}"></span></p>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>